@model IEnumerable<Coupon>

@{
    ViewData["Title"] = "Index";
}

<br />

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Coupons List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial"/>
        </div>
    </div>
    <br />

    <div>
        @if (Model.Any())
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>Name</th>
                    <th>Discount</th>
                    <th>Minimum Amount</th>
                    <th>Is Active?</th>
                    <th>Action</th>
                </tr>

                @foreach (var coupon in Model)
                {
            <tr>
                <td>@coupon.Name</td>
                <td>@coupon.Discount</td>
                <td>@coupon.MinimumAmount</td>
                <td>@coupon.IsActive</td>
                <partial name="_TableButtonPartial" model="@coupon.Id" />

            </tr>
                }
            </table>
        }
        else
        {
            <p> No Coupons Exist</p>
        }

    </div>

</div>